* {
    margin: 0px;
}

body {
    background-image: url("composition_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

nav {
    background-image: url("black_leather_27_48_render_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.nav-link {
    color: aquamarine;
    text-shadow:
    -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

footer {
    color: white;
    background: black;
    padding: 10px;
}

footer ul li {
    padding: 10px;
}

