* {
    margin: 0px;
}

body {
    background-image: url("composition_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}


.nav-link {
    color: white;
}

footer {
    color: white;
}

p {
    color: white;
}

h2 {
    color: white;
}

main {
    min-height: 100%;
}